.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-color: var(--primary-foil);
    backdrop-filter: blur(8px);

    z-index: 100;
    color: var(--primary);
}

/**Royalties component*/

.backdrop .royalties {
    width: 694px;
    padding: 40px;

    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 20px;
    box-sizing: border-box;
}

.backdrop .royalties .slider-container {
    width: 600px;
}

.backdrop .royalties .legend {
    gap: 10px;
    width: 600px;

    box-sizing: border-box;

    color: var(--primary);
    cursor: help;
}

.backdrop .close-button {
    width: 40px;
    height: 40px;
    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-2);
    color: var(--primary);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.2s;

}

.backdrop .close-button:hover {
    background-color: var(--secondary-faded-2);
    border: 1px solid var(--secondary-faded-3);
}

/**Create attributes component*/

.backdrop .modal {
    position: relative;

    width: fit-content;
    height: fit-content;

    padding: 20px;

    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 20px;
    box-sizing: border-box;
}

.backdrop .modal .create-attributes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.backdrop .modal .create-attributes form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}

.backdrop .modal .create-attributes .input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.backdrop .modal .create-attributes input {
    width: 300px;
    height: 20px;

    padding: 10px;
    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 10px;
    outline: none;
    color: var(--primary);
}

.backdrop .modal .create-attributes .submit {

    width: 654px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--accent);
    border: 1px solid var(--secondary-faded-1);
    border-radius: 10px;
    outline: none;
    color: var(--white);

    cursor: pointer;
    transition-duration: 0.2s;
}

.backdrop .modal .create-attributes .submit:disabled {
    background-color: var(--secondary-faded-3);
    border: 1px solid var(--secondary-faded-2);
    color: var(--secondary);
    cursor: not-allowed;
    transition-duration: 0.2s;

}

.backdrop .modal .create-attributes .submit:not(:disabled):hover {
    background-color: var(--accent-faded-1);
}

.backdrop .attributes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    max-width: 600px;
    max-height: 400px;

    flex-wrap: wrap;
    overflow: scroll;
}

.backdrop .attributes .attribute {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 10px;

    padding: 10px 20px;
    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-3);
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
}

.backdrop .attributes .attribute .line {
    width: 1px;
    height: 25px;
    background-color: var(--secondary-faded-3);
}

.plugin-modal {
    gap: 10px;
}

.plugin-modal .plugin-operator {
    gap: 10px;
}

.plugin-modal .plugin-options .plugin-option {
    gap: 5px;
}

.plugin-modal .plugin-options,
.plugin-modal .plugin-submitters {
    background-color: var(--secondary);
    border: 1px solid var(--secondary-faded-3);
    border-radius: 10px;
    padding: 10px;
    gap: 5px;
}

.plugin-modal .plugin-options .plugin-activator {
    width: 40px;
    height: 40px;
    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 5px;
    color: var(--primary);
    cursor: pointer;
}

.plugin-modal .plugin-options .option,
.plugin-modal .plugin-submitters button {

    width: 150px;
    height: 40px;

    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 5px;
    color: var(--primary);
    cursor: pointer;
}



.plugin-modal .plugin-submitters button {
    width: 195px;

    background-color: var(--primary);
    border: 1px solid var(--primary-faded-4);
    color: var(--secondary);
}

.plugin-modal .plugin-submitters button.close {
    background-color: rgb(240, 62, 62);
    border-color: rgb(228, 51, 51);
}

.plugin-modal .plugin-options .option.active {
    background-color: var(--secondary-faded-3);
    border: 1px solid var(--secondary-faded-4);
    color: var(--primary);
}

.plugin-modal .plugin-options .option:disabled {
    background-color: var(--secondary-faded-1);
    border-color: var(--secondary-faded-2);
    color: var(--secondary-faded-4);
    cursor: not-allowed;
}

.plugin-form {
    width: 600px;
    height: fit-content;
    padding: 10px;

    background-color: var(--secondary);
    border: 1px solid var(--secondary-faded-3);
    border-radius: 10px;

    gap: 10px;
}

.plugin-form * {
    max-width: 100%;
}

.plugin-form .elements {
    width: 100%;
    height: 200px;
    overflow-y: scroll;


    margin: 0;
    padding: 5px;

    gap: 5px;

    border: 1px solid var(--secondary-faded-1);
    border-radius: 5px;
    box-sizing: border-box;
}

.plugin-form .element {
    width: 100%;
    height: fit-content;

    margin: 0;
    padding: 5px;

    background-color: var(--secondary-faded-1);
    border: none;
    border-radius: 2.5px;
    cursor: pointer;
}

.plugin-form .inputs,
.plugin-form .inputs .input-field,
.plugin-form .inputs .input-field input {
    width: 100%;
}

.plugin-form .inputs {
    gap: 5px;
}

.plugin-form .inputs button {
    padding: 0px 20px;
    height: 40px;
    background-color: var(--accent-faded-1);
    border: 1px solid var(--accent-faded-2);
    color: var(--secondary);
    border-radius: 5px;
    cursor: pointer;
}

.plugin-form .royalties {
    padding: 10px 20px;

    background-color: var(--secondary);
    border: 1px solid var(--secondary-faded-1);
    border-radius: 5px;
}



.plugin-form button:disabled {
    background-color: var(--secondary-faded-1);
    border-color: var(--secondary-faded-2);
    color: var(--secondary-faded-4);
    cursor: not-allowed;
}

.plugin-form .ruleset-types {
    width: fit-content;
    height: fit-content;
    padding: 10px;

    border: 1px solid var(--secondary-faded-1);
    border-radius: 5px;
}