.form {
    position: relative;
    margin-top: 100px;
    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 20px;
    padding: 20px;
}



.form .type-selectors {
    max-width: 90vw;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border: 1px solid var(--secondary-faded-1);
    border-radius: 10px;
}


.input-field {
    width: fill;
}

.input-field .label {
    color: var(--accent-faded-3);
}

.input-field .label.active {
    color: var(--accent);
}

.input-field textarea,
.input-field input {
    width: fill;
    height: 40px;
    padding: 10px;

    color: var(--primary);
    background-color: var(--secondary);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.input-field textarea {
    min-height: 100px;
    resize: vertical;

}

.slidable .slider-container {
    width: fill;
    padding: 10px;
    padding-right: 40px;


    background-color: var(--secondary);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;

}


.form .image-preview {
    position: relative;
    width: fill;
    padding-top: 100%;

    background-color: var(--secondary);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 5px;

    box-sizing: border-box;
    overflow: hidden;
}

.form .image-preview input {
    display: none;
}

.form .image-preview .placeholder,
.form .image-preview img {
    position: absolute;
    top: 0;
    left: 0;
    width: fill;
    height: fill;

}

.form .backdrop-button {
    width: fill;
    padding: 10px;

    background-color: var(--secondary-faded-2);
    border: 2px solid var(--secondary-faded-3);
    border-radius: 5px;
    box-sizing: border-box;

    color: var(--primary);
    cursor: pointer;

}

.form .backdrop-button:hover {
    background-color: var(--secondary-faded-3);
    border: 2px solid var(--secondary-faded-4);
}

.form .submit {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border-radius: 5px;
}

.form .submit:not(:disabled) {
    color: var(--secondary);
    background-color: var(--accent-faded-1);
    border: 2px solid var(--accent-faded-2);
    cursor: pointer;
}


.form .submit:not(:disabled):hover {
    background-color: var(--accent-faded-2);
    border: 2px solid var(--accent-faded-3);
}

.form .submit:disabled {
    background-color: var(--accent-faded-4);
    border: 2px solid var(--accent-faded-1);
    color: var(--accent-faded-2);
    cursor: not-allowed;
    pointer-events: none;
}

#result-panel {
    padding: 10px;
    background-color: var(--secondary);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 10px;
}

#result-panel button {
    width: 200px;
    padding: 10px;

    background-color: var(--secondary-faded-1);
    border: 2px solid var(--secondary-faded-2);
    border-radius: 5px;
    color: var(--primary);
    cursor: pointer;
}

#result-panel button.close {

    background-color: var(--primary);
    border: 2px solid var(--primary-faded-2);
    color: var(--secondary);
}


#processing-panel {
    padding: 40px;
    background-color: var(--secondary);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 20px;
    color: var(--primary);
}

@media only screen and (max-width: 768px) {
    .form {
        width: fill;
        margin-top: 0;

    }

    .form .row {
        flex-direction: column;
        width: fill;
    }

    .form .row .flex-column-center-start {
        width: fill;
    }
}