#gallery {
    width: 100vw;
    height: calc(100vh - 222px);
    gap: 10px;

    color: var(--primary);
}

#gallery .gallery-header {
    width: 80vw;
    height: fit-content;

    padding: 10px;
    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 10px;
    box-sizing: border-box;

}

#gallery .view-types,
#gallery .token-types {
    gap: 5px;
}

#gallery .view-type,
#gallery .token-type {
    width: fit-content;

    height: 40px;
    padding: 10px;

    background-color: var(--secondary);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

#gallery .token-type.active {
    background-color: var(--secondary-faded-3);
    border: 1px solid var(--secondary-faded-4);
}

#gallery .view-type:hover,
#gallery .token-type:hover {
    background-color: var(--secondary-faded-1);

}

#gallery .gallery-container {
    width: 80vw;
    height: 1000px;

    padding: 10px;

    gap: 5px;

    box-sizing: border-box;

    flex-wrap: wrap;
    overflow-y: scroll;
}

#gallery .gallery-container.list {

    flex-wrap: nowrap;
}


#gallery .gallery-item {
    width: 220px;

    gap: 5px;

    margin: 0;
    padding: 10px;

    background-color: var(--secondary-faded-1);
    border-radius: 20px;
}

#gallery .gallery-image {
    width: 220px;
    height: 220px;

    background-color: rgb(102, 185, 102);
    border-radius: 9px;
    box-sizing: border-box;
    overflow: hidden;
}

#gallery .gallery-image img {
    max-width: 220px;
    max-height: 220px;
}

#gallery .gallery-info {
    width: 220px;
    height: fit-content;

    padding: 10px;

    background-color: var(--secondary-faded-3);
    border-radius: 10px;
    box-sizing: border-box;
}

#gallery .gallery-operations {
    width: 220px;
}

#gallery .gallery-operation {
    width: 70px;
    padding: 10px 20px;

    background-color: var(--secondary-faded-2);
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

#gallery .gallery-operation:hover {
    opacity: 0.8;
}

#gallery .gallery-operation:first-child {
    background-color: rgb(0, 199, 123);
}

#gallery .gallery-operation:last-child {
    background-color: rgb(255, 56, 83);
}

.item-backdrop {
    width: 100vw;
    height: 100vh;
    gap: 20px;

    position: fixed;
    top: 0;
    left: 0;

    background-color: transparent;
    backdrop-filter: blur(8px);
    z-index: 1000;
}

.item-backdrop .close {
    width: 50px;
    height: 50px;
    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-2);
    color: var(--primary);
    border-radius: 120px;
    cursor: pointer;
}

.item-backdrop .close:hover {
    background-color: var(--secondary-faded-2);
    border: 1px solid var(--secondary-faded-3);
}

.item-panel {
    width: fit-content;
    height: fit-content;

    padding: 10px;

    background-color: var(--secondary);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 10px;
    box-sizing: border-box;
    gap: 20px;
}

.item-panel .specs {
    gap: 10px;
}

.item-panel .specs-row {
    gap: 20px;
}

.item-panel .image {
    width: 200px;
    height: 200px;

    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 5px;
    overflow: hidden;
}

.item-panel .image img {
    width: 200px;
    height: 200px;
}

.item-panel .item-description {
    color: var(--primary-faded-4);
}

.item-panel .item-attributes {
    height: 600px;
    width: 300px;
    overflow-y: scroll;
    gap: 5px;
}

.item-panel .attribute {
    width: fit-content;
    height: fit-content;

    gap: 10px;

    padding: 5px 10px;
    background-color: var(--accent-faded-4);
    border: 1px solid var(--accent-faded-3);
    border-radius: 20px;
    cursor: pointer;
}

.item-panel .item-specs {

    padding: 0;


}

.item-panel .item-spec {
    width: 250px;
    height: fit-content;

    box-sizing: border-box;
}





.item-panel .item-operations {
    gap: 5px;
}

.item-panel .item-operation {
    width: 150px;
    height: fit-content;
    padding: 10px;

    gap: 10px;

    background-color: var(--secondary-faded-2);
    border: 1px solid var(--secondary-faded-3);
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    color: var(--primary);
}

.item-panel .item-operation:hover {
    background-color: var(--secondary-faded-1);
    border-color: var(--secondary-faded-2);
}

.item-panel .item-operation:first-child {
    background-color: rgb(255, 88, 88);
    border: 1px solid rgb(228, 73, 73);
    color: var(--white);
}

.item-panel .item-operation:first-child:hover {
    background-color: rgb(255, 128, 128);
    border: 1px solid rgb(228, 93, 93);
}

.item-panel .item-operation:nth-child(2) {
    background-color: rgb(0, 199, 123);
    border: 1px solid rgb(0, 155, 95);
}

.item-panel .item-operation:nth-child(2):hover {
    background-color: rgb(0, 229, 143);
    border: 1px solid rgb(0, 175, 107);
}