@font-face {
    font-family: "satoshi-regular";
    src: url(./fonts/Satoshi-Variable.ttf);
}

@font-face {
    font-family: "satoshi-regular";
    src: url(./fonts/Satoshi-Regular.otf);
}

@font-face {
    font-family: "satoshi-bold";
    src: url(./fonts/Satoshi-Bold.otf);
}

/* This file is a global stylesheet that contains the following:
    - a font-face for the Satoshi font
    - a set of themes including the color black & white in 5 different grades and one accent color (named accent) in 5 different grades
    - a light and a dark variant for the following elements: primary, primary-faded-(1 to 4), secondary-faded-(1 to 4), accent, accent-faded-(1-4)
    - a set of font-classes using the satoshi font-face including one for h1,h2,h3,h4 and a few text variations each with the appropriate sizes and weights
    - a set of classes for display:flex variations - like .flex-(row / column)-(justify-content)-(align-items)
    - a markdown-text explaining this file
*/


/*the scrollbar should be invisible and the page should still be scrollable*/

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

:root {
    background-color: var(--secondary);

}

html {
    scroll-behavior: smooth;
    background-color: var(--secondary);

    max-width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    font-family: "satoshi-regular";
    background-color: var(--secondary);
    color: var(--primary);
    overflow-x: hidden;

    max-width: 100vw;
}

a {
    text-decoration: none;
    color: inherit;
}

#skeleton {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    background-color: var(--secondary);
    color: var(--primary);
}

#mainboard {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow-y: scroll;

    background-color: var(--secondary);
    background: var(--background) no-repeat;
    background-size: cover;
}

/*a set of themes including the color black & white in 5 different grades and one accent color (named accent) in 5 different grades, lets take a #B763FF for the accent*/

:root {
    max-width: 100vw;

    --black-1: rgb(0, 0, 0);
    --black-2: rgb(10, 10, 10);
    --black-3: rgb(20, 20, 20);
    --black-4: rgb(30, 30, 30);
    --black-5: rgb(40, 40, 40);

    --black-transparent-1: rgba(0, 0, 0, 0.1);
    --black-transparent-2: rgba(0, 0, 0, 0.2);
    --black-transparent-3: rgba(0, 0, 0, 0.3);
    --black-transparent-4: rgba(0, 0, 0, 0.4);
    --black-transparent-5: rgba(0, 0, 0, 0.5);

    --white-1: #FFFFFF;
    --white-2: #F2F2F2;
    --white-3: #E5E5E5;
    --white-4: #D9D9D9;
    --white-5: #CCCCCC;

    --white-transparent-1: rgba(255, 255, 255, 0.1);
    --white-transparent-2: rgba(255, 255, 255, 0.2);
    --white-transparent-3: rgba(255, 255, 255, 0.3);
    --white-transparent-4: rgba(255, 255, 255, 0.4);
    --white-transparent-5: rgba(255, 255, 255, 0.5);

    --accent-1: #B763FF;
    --accent-2: #C17DFF;
    --accent-3: #CA97FF;
    --accent-4: #D3B1FF;
    --accent-5: #DCCBFF;

    --pink-light-1: #ff62b3;
    --pink-light-2: #ff7cc0;
    --pink-light-3: #ff8fc9;
    --pink-light-4: #ffb0d9;
    --pink-light-5: #ffc1e1;

    --pink-dark-1: #6b1742;
    --pink-dark-2: #94215d;
    --pink-dark-3: #c42f7c;
    --pink-dark-4: #e23b91;
    --pink-dark-5: #ff50aa;

    --navy-light-1: #62b8ff;
    --navy-light-2: #7cc4ff;
    --navy-light-3: #8fd2ff;
    --navy-light-4: #b0e6ff;
    --navy-light-5: #c1e8ff;

    --navy-dark-1: #17506b;
    --navy-dark-2: #217094;
    --navy-dark-3: #2f95c4;
    --navy-dark-4: #3bade2;
    --navy-dark-5: #50bfff;

    --bg-white: url("../media/mesh-white.png");
    --bg-black: url("../media/mesh-black.png");
    --bg-navy: url("../media/mesh-blue.png");
    --bg-pink: url("../media/mesh-pink.png");

    color: var(--primary);

}

/*a light and a dark variant for the following elements:primary,primary-faded-(1 to 4), secondary-faded-(1 to 4), accent, accent-faded-(1-4) each variant named like this: [data-theme="light"] */

[data-theme="light"] {
    --background: var(--bg-white);
    --primary: var(--black-1);
    --primary-faded-1: var(--black-2);
    --primary-faded-2: var(--black-3);
    --primary-faded-3: var(--black-4);
    --primary-faded-4: var(--black-5);

    --primary-transparent-1: var(--black-transparent-1);
    --primary-transparent-2: var(--black-transparent-2);
    --primary-transparent-3: var(--black-transparent-3);
    --primary-transparent-4: var(--black-transparent-4);
    --primary-transparent-5: var(--black-transparent-5);

    --secondary: var(--white-1);
    --secondary-faded-1: var(--white-2);
    --secondary-faded-2: var(--white-3);
    --secondary-faded-3: var(--white-4);
    --secondary-faded-4: var(--white-5);

    --secondary-transparent-1: var(--white-transparent-1);
    --secondary-transparent-2: var(--white-transparent-2);
    --secondary-transparent-3: var(--white-transparent-3);
    --secondary-transparent-4: var(--white-transparent-4);
    --secondary-transparent-5: var(--white-transparent-5);

    --accent: var(--accent-1);
    --accent-faded-1: var(--accent-2);
    --accent-faded-2: var(--accent-3);
    --accent-faded-3: var(--accent-4);
    --accent-faded-4: var(--accent-5);
}

[data-theme="dark"] {
    --background: var(--bg-black);
    --primary: var(--white-1);
    --primary-faded-1: var(--white-2);
    --primary-faded-2: var(--white-3);
    --primary-faded-3: var(--white-4);
    --primary-faded-4: var(--white-5);

    --primary-transparent-1: var(--white-transparent-1);
    --primary-transparent-2: var(--white-transparent-2);
    --primary-transparent-3: var(--white-transparent-3);
    --primary-transparent-4: var(--white-transparent-4);
    --primary-transparent-5: var(--white-transparent-5);

    --secondary: var(--black-1);
    --secondary-faded-1: var(--black-2);
    --secondary-faded-2: var(--black-3);
    --secondary-faded-3: var(--black-4);
    --secondary-faded-4: var(--black-5);

    --secondary-transparent-1: var(--black-transparent-1);
    --secondary-transparent-2: var(--black-transparent-2);
    --secondary-transparent-3: var(--black-transparent-3);
    --secondary-transparent-4: var(--black-transparent-4);
    --secondary-transparent-5: var(--black-transparent-5);

    --accent: var(--accent-1);
    --accent-faded-1: var(--accent-2);
    --accent-faded-2: var(--accent-3);
    --accent-faded-3: var(--accent-4);
    --accent-faded-4: var(--accent-5);
}

[data-theme="candy"] {
    --background: var(--bg-pink);
    --primary: var(--pink-dark-1);
    --primary-faded-1: var(--pink-dark-2);
    --primary-faded-2: var(--pink-dark-3);
    --primary-faded-3: var(--pink-dark-4);
    --primary-faded-4: var(--pink-dark-5);

    --primary-transparent-1: var(--white-transparent-1);
    --primary-transparent-2: var(--white-transparent-2);
    --primary-transparent-3: var(--white-transparent-3);
    --primary-transparent-4: var(--white-transparent-4);
    --primary-transparent-5: var(--white-transparent-5);

    --secondary: var(--pink-light-5);
    --secondary-faded-1: var(--pink-light-4);
    --secondary-faded-2: var(--pink-light-3);
    --secondary-faded-3: var(--pink-light-2);
    --secondary-faded-4: var(--pink-light-1);

    --secondary-transparent-1: var(--black-transparent-1);
    --secondary-transparent-2: var(--black-transparent-2);
    --secondary-transparent-3: var(--black-transparent-3);
    --secondary-transparent-4: var(--black-transparent-4);
    --secondary-transparent-5: var(--black-transparent-5);

    --accent: var(--pink-dark-1);
    --accent-faded-1: var(--pink-dark-2);
    --accent-faded-2: var(--pink-dark-3);
    --accent-faded-3: var(--pink-dark-4);
    --accent-faded-4: var(--pink-dark-5);
}

[data-theme="navy"] {
    --background: var(--bg-navy);
    --primary: var(--navy-dark-1);
    --primary-faded-1: var(--navy-dark-2);
    --primary-faded-2: var(--navy-dark-3);
    --primary-faded-3: var(--navy-dark-4);
    --primary-faded-4: var(--navy-dark-5);

    --primary-transparent-1: var(--white-transparent-1);
    --primary-transparent-2: var(--white-transparent-2);
    --primary-transparent-3: var(--white-transparent-3);
    --primary-transparent-4: var(--white-transparent-4);
    --primary-transparent-5: var(--white-transparent-5);

    --secondary: var(--navy-light-5);
    --secondary-faded-1: var(--navy-light-4);
    --secondary-faded-2: var(--navy-light-3);
    --secondary-faded-3: var(--navy-light-2);
    --secondary-faded-4: var(--navy-light-1);

    --secondary-transparent-1: var(--black-transparent-1);
    --secondary-transparent-2: var(--black-transparent-2);
    --secondary-transparent-3: var(--black-transparent-3);
    --secondary-transparent-4: var(--black-transparent-4);
    --secondary-transparent-5: var(--black-transparent-5);

    --accent: var(--navy-dark-1);
    --accent-faded-1: var(--navy-dark-2);
    --accent-faded-2: var(--navy-dark-3);
    --accent-faded-3: var(--navy-dark-4);
    --accent-faded-4: var(--navy-dark-5);
}

/* a set of font-classes using the satoshi font-face including one for h1,h2,h3,h4 and a few text variations each with the appropriate sizes and weights. and each one should start with font- and the element*/

.font-h1 {
    font-family: "satoshi-bold";
    font-size: 52px;
    font-weight: 1000;
    letter-spacing: -0.2rem;
}

.font-h2 {
    font-family: "satoshi-bold";
    font-size: 40px;
    font-weight: 1000;
    letter-spacing: -0.1rem;
}

.font-h3 {
    font-family: "satoshi-bold";
    font-size: 28px;
    font-weight: 1000;
    letter-spacing: -0.1rem;
}

.font-h4 {
    font-family: "satoshi-bold";
    font-size: 22px;
    font-weight: 1000;
    letter-spacing: -0.1rem;

}

.font-text {
    font-family: "satoshi-regular";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.05rem;

}

.font-text-bold {
    font-family: "satoshi-bold";
    font-size: 18px;
    font-weight: 600;
}

.font-text-light {
    font-family: "satoshi-regular";
    font-size: 18px;
    font-weight: 300;
}

.font-text-small {
    font-family: "satoshi-regular";
    font-size: 16px;
    font-weight: 400;
}

.font-text-small-bold {
    font-family: "satoshi-bold";
    font-size: 16px;
    font-weight: 1000;
}

.font-text-small-light {
    font-family: "satoshi-regular";
    font-size: 16px;
    font-weight: 300;
}

.font-text-tiny {
    font-family: "satoshi-regular";
    font-size: 14px;
    font-weight: 400;
}

.font-text-tiny-bold {
    font-family: "satoshi-bold";
    font-size: 14px;
    font-weight: 1000;
}



.font-text-tiny-light {
    font-family: "satoshi-regular";
    font-size: 14px;
    font-weight: 300;
}


/* a set of classes for display:flex variations, like this: .flex-(row / column)-(justify-content)-(align-items)*/
/*row-start**/
.flex-row-start-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-row-start-center {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex-row-start-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

/*row-center**/
.flex-row-center-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.flex-row-center-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-row-between-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-row-center-end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

/*row-end**/
.flex-row-end-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.flex-row-end-center {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.flex-row-end-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.flex-row-between-start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-row-between-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-row-between-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column-center-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flex-column-center-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.flex-column-start-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-column-start-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-column-start-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.flex-column-end-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.flex-column-end-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.flex-column-end-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}