.homepage .board .navigation-container {
    position: relative;
    top: unset;
    left: unset;
    bottom: unset;
}

.homepage .navigation-container {
    position: fixed;
    left: 0;
    bottom: 20px;
}

.homepage .navigation {
    width: fit-content;
    height: fit-content;
    padding: 10px;

    border-radius: 50px;
}

.homepage .navigation .item {
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;

    background-color: var(--accent-2);
    color: var(--white-1);
    border-radius: 40px;
    cursor: pointer;
    box-shadow: inset 0px 0px 2px 2px var(--accent-1);

}

.homepage .navigation .item:hover {
    transition-duration: 0.1s;
    scale: 0.9;
}

.homepage .navigation .item:not(:hover) {
    transition-duration: 0.1s;
}

.homepage .navigation .item:active {
    background-color: var(--white-1);
    color: var(--accent-1);
}



.homepage .section {
    width: 100vw;
    height: 100vh;
}

.hero .board {
    width: calc(100vw - 160px);
    height: calc(100vh - 80px);
    background-color: var(--accent-1);
    background-size: cover;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

    gap: 20px;
}

.homepage .hero img {
    width: 200px;
    height: 200px;
}

.homepage .hero .title {
    color: var(--white-1);
}

.homepage .hero .description {
    color: var(--accent-4);
}

.homepage .tools {
    gap: 20px;
}

.homepage .switch-container {
    gap: 20px;
}

.homepage .switch {
    position: relative;
    width: 60px;
    height: 30px;

    background-color: var(--navy-light-4);
    border-radius: 30px;
    cursor: pointer;
}

.homepage .switch.active {
    background-color: var(--navy-dark-1);
}

.homepage .switch .switch-button {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;

    background-color: var(--navy-dark-1);
    border-radius: 30px;
    transition-duration: 0.2s;

}

.homepage .switch.active .switch-button {
    left: 35px;
    background-color: var(--navy-light-4);
}

.homepage .cards {
    gap: 10px;
}

.homepage .cards .card {
    width: 250px;
    height: 400px;
    background: radial-gradient(var(--navy-dark-4), var(--navy-dark-1));
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.048);
}

.homepage .cards .card.legacy {
    background: radial-gradient(var(--navy-light-2), var(--navy-light-4));
}

.homepage .cards .card-base {
    position: relative;
    width: 230px;
    height: 380px;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.048);

}

.homepage .cards .card-base .info {
    position: absolute;
    top: 10px;
    left: 10px;
}

.homepage .cards .card-base .info .standard {
    color: var(--white-1);
}

.homepage .cards .card-base .info .description {
    color: var(--navy-light-4);
}

.homepage .cards .card.legacy .card-base .info .standard {
    color: var(--navy-dark-1);
}

.homepage .cards .card.legacy .card-base .info .description {
    color: var(--navy-dark1-4);
}

.homepage .cards .card-base .actions {
    width: 230px;
    position: absolute;
    bottom: 10px;
    left: 0px;
    gap: 5px;
}

.homepage .cards .card-base .actions .action {
    width: 210px;
    height: 40px;

    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    color: var(--white-1);
    cursor: pointer;
    transition-duration: 0.1s;
}

.homepage .cards .card-base .actions .action:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--black-1);

}

.homepage #powered,
.homepage #footer {
    gap: 100px;
    height: 60vh;
}

.homepage #powered .components {
    gap: 100px;
    user-select: none;
    opacity: 0.25;
}

.homepage #footer a {
    color: var(--accent-1);
}