.full-page-container {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    background-color: var(--secondary);
}

.full-page-container .content {
    width: calc(100vw - 340px);
    height: 100vh;

    padding: 10px;

    box-sizing: border-box;
    overflow-y: scroll;
}