.full-page-container {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;
    background-color: var(--secondary-faded-1);
}

.full-page-container .content {
    width: calc(100vw - 340px);
    height: fill;

    box-sizing: border-box;
    overflow-y: scroll;
}

.switch {
    position: relative;

    width: 60px;
    height: 30px !important;
    background-color: var(--secondary-faded-2) !important;
    border: none !important;
    border-radius: 5px;
    cursor: pointer;
}

.switch .button {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 20px;
    height: 20px;

    background-color: var(--secondary-faded-4);
    border: none;

    border-radius: 2.5px;
}

.switch.active {
    background-color: var(--accent) !important;
}

.switch.active .button {

    top: 5px;
    left: 35px;
    background-color: var(--secondary);
}


.signal {
    width: 12px;
    height: 12px;

    border-radius: 40px;
    background-color: var(--secondary-faded-4);

}

.signal.active {
    background-color: rgb(40, 211, 154);
}

@media only screen and (max-width: 768px) {
    .full-page-container .content {
        width: 100vw;
    }
}