#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    background-color: var(--white);
    pointer-events: none;
}

#loader .loader-box {
    position: relative;
    width: 400px;
    height: 200px;
    background-color: var(--white);
    overflow: hidden;
}

#loader .loader-box .upper {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100px;

    background-color: var(--white);
    border-bottom: 1px solid var(--black);
    box-sizing: border-box;
}

#loader .loader-box .lower {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 100px;

    background-color: var(--white);
    border-top: 1px solid var(--black);
    box-sizing: border-box;
}