@media only screen and (max-width: 768px) {
    .sidepanel-container {
        display: none !important;
        display: none;
    }

    .mobile-nav-container {
        position: fixed;
        top: 0;
        left: 0;
        width: fill;
        height: fill;

        padding: 10px;
        box-sizing: border-box;

        overflow-y: scroll;
        gap: 0;
        pointer-events: none;
        transition-duration: 0.2s;
    }

    .mobile-nav-container.active {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        pointer-events: all;
        transition-duration: 0.2s;
    }


    .mobile-nav {

        width: fill;
        height: fit-content;
        padding: 10px;
        margin-bottom: 10px;

        background-color: var(--secondary);
        border-radius: 10px;
        box-sizing: border-box;
        z-index: 1000;
        pointer-events: all;


    }

    .mobile-nav .naming img,
    .mobile-nav .menu {
        transition-duration: 0.2s;
        width: 40px;
        height: 40px;
        font-size: 24px;
    }

    .mobile-nav .menu.active {
        transition-duration: 0.2s;
        rotate: 135deg;
    }

    .mobile-nav-container .menu-options {
        width: fill;
        height: fit-content;

        background-color: var(--secondary);
        border-radius: 10px;
        box-sizing: border-box;
        padding: 20px;
        padding-top: 40px;

        gap: 40px;

        overflow-y: scroll;
    }

    .mobile-nav-container .menu-options .tea-button {
        width: fill;
        height: fit-content;
        padding: 10px;
        border-radius: 5px;
        background-color: var(--accent);
        box-sizing: border-box;
        color: var(--white);
        gap: 10px;
    }

    .mobile-nav-container .menu-options .tea-button img {
        width: 30px;
        height: 30px;
    }


    .mobile-nav-container .modal {

        position: fixed;
        bottom: 0;
        left: 0;

        width: fill;
        height: fit-content;

        background-color: var(--secondary-faded-1);
        border-top: 1px solid var(--secondary-faded-4);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        box-sizing: border-box;

        padding: 20px;
        padding-top: 40px;
        gap: 20px;

        overflow-y: scroll;
    }

    .wallet-modal button {
        color: var(--primary) !important;
    }

    .mobile-nav-container .modal .modal-content {
        width: fill;
    }

    .mobile-nav-container .theme-modal .modal-content {
        gap: 10px;
    }

    .mobile-nav-container .modal .theme-button {
        width: 40px;
        height: 40px;
        background-color: var(--accent);
        border: none;
        border-radius: 100px;
        box-shadow: inset 0px 1px 1px 0px white,
            inset 0px -1px 1px 0px rgba(0, 0, 0, 0.3);

        cursor: pointer;
    }

    .mobile-nav-container .rpc-modal input,
    .mobile-nav-container .rpc-modal button {
        width: fill;
        padding: 10px;

        background-color: var(--secondary);
        border: 1px solid var(--secondary-faded-3);
        border-radius: 10px;
        box-sizing: border-box;

        color: var(--primary);
    }

    .mobile-nav-container .rpc-modal button {
        background-color: var(--primary);
        box-shadow: inset 0px 1px 1px 0px var(--secondary-faded-4), inset 0px -1px 1px 0px rgba(0, 0, 0, 0.1);
        color: var(--secondary);
        cursor: pointer;
    }

    .mobile-nav-container .rpc-modal button:hover {
        box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
        transition-duration: 0.2s;
    }

    .mobile-nav-container .rpc-modal button:active {
        box-shadow: inset 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
        transition-duration: 0.2s;
    }

    .mobile-nav-container .rpc-modal button.rpc-option {
        background-color: var(--secondary-faded-1);
        color: var(--primary);
        cursor: pointer;
    }

    .mobile-nav-container .rpc-modal button.rpc-option.active {
        background-color: var(--secondary-faded-4);
        transition-duration: 0.2s;

    }

    .mobile-nav-container .app-modal {
        width: fill;

    }

    .mobile-nav-container .app-modal .modal-content {
        width: fill;
        flex-wrap: wrap;
        gap: 10px;
    }

    .mobile-nav-container .emptea-app-icon img {
        width: 80px;
        height: 80px;
    }

    .mobile-nav-container .tool-modal {
        height: 200px;
    }

    .mobile-nav-container .tool-modal .operation,
    .mobile-nav-container .tool-modal .operation-section,
    .mobile-nav-container .tool-modal .operation-section-header {
        width: fill;
    }

    .mobile-nav-container .tool-modal .operation-section-header {
        padding: 10px 15px;
        box-sizing: border-box;
        color: var(--secondary-faded-4);
    }

    .mobile-nav-container .tool-modal .operation {
        width: fill;
        height: fit-content;
        padding: 10px 15px;

        border-radius: 10px;
        box-sizing: border-box;
        color: var(--primary-faded-4);
    }

    .mobile-nav-container .tool-modal .operation.active {
        background-color: var(--secondary-faded-2);
        font-family: 'satoshi-bold';
        box-shadow: inset 0px 1px 1px 0px var(--secondary-faded-4), inset 0px -1px 1px 0px rgba(0, 0, 0, 0.1);
        color: var(--accent);
    }

    .mobile-nav-container .tool-modal .operation:not(:hover) {
        transition-duration: 0.2s;
    }

    .mobile-nav-container .tool-modal .operation:hover {
        background-color: var(--secondary-faded-2);
        transition-duration: 0.2s;

    }

    .mobile-nav-container .tool-modal .operation:active {
        background-color: var(--secondary-faded-3);
        box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
        transition-duration: 0.2s;
    }
}