.navigation-container {
  position: fixed;
  bottom: 20px;
  left: 0;

  width: 100%;
  height: fit-content;
}

.navigation {
  position: relative;

  width: fit-content;
  height: 80px;

  padding: 10px;

  backdrop-filter: blur(5px);
  background-color: var(--secondary);
  border-radius: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1), inset 0px 2px 2px 0px rgba(255, 255, 255, 0.1);

  z-index: 100;
}

.navigation-button {
  width: 80px;
  height: 80px;

  margin-left: 5px;

  background-color: var(--secondary-faded-2);

  border-radius: 5px;
  box-sizing: border-box;

  color: var(--secondary-faded-4);

  cursor: pointer;

  transition-duration: 0.4s;

}

.navigation-button:hover {

  background-color: var(--secondary-faded-3);
  color: var(--primary-faded-4);
}

.navigation-button svg {
  height: 40px;
}

.navigation-button.logo {
  margin-left: 0;
  background-color: var(--primary);
  border-radius: 5px;
  overflow: hidden;
  user-select: none;
}

.navigation-button.logo img {
  width: 80px;
  height: 80px;

}


.navigation-button.logo:hover {
  scale: 0.95;

  transition-duration: 0.2s;
}

.navigation-button.logo:active {
  scale: 0.9;
}

.nav-modal-container {
  position: fixed;
  bottom: 130px;
  left: 0;

  width: 100vw;

}

.nav-modal {
  position: relative;

  margin: 0;
  padding: 10px;
  width: 355px;
  background-color: var(--secondary);
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1), inset 0px 2px 2px 0px rgba(255, 255, 255, 0.1);

}

.nav-modal .rpc-option {
  width: fill;
  height: fit-content;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--secondary-faded-1);
  gap: 10px;
  cursor: pointer;
}

.nav-modal .rpc-option:hover {
  transition-duration: 0.2s;
  background-color: var(--secondary-faded-2);
}

.nav-modal .rpc-option:active {
  background-color: var(--secondary-faded-3);
}

.nav-modal-settings .modal-content {
  width: fill;
  gap: 10px;
}

.nav-modal-settings .modal-content .button {
  width: fill;
  height: 40px;

  gap: 5px;

  background-color: var(--secondary-faded-2);
  border-radius: 5px;

  color: var(--primary);

  user-select: none;
  cursor: pointer;

  transition-duration: 0.2s;
}

.nav-modal-settings .modal-content .button:hover {
  background-color: var(--secondary-faded-3);
}
.nav-modal-settings .modal-content .button.submit{
  background-color: var(--accent);
  color: var(--secondary);
} 
.nav-modal-settings .modal-content .button.submit:hover{
  background-color: var(--accent-faded-1);
}