@media only screen and (max-width: 768px) {
    #skeleton {
        display: none;
    }

    .skeleton-mobile {
        display: block;
        height: 100vh;
        width: 100vw;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    #skeleton {
        display: block;
    }

    .skeleton-mobile {
        display: none;
    }
}

#skeleton {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    background-color: var(--secondary);
    color: var(--primary);

}

#header {
    position: fixed;
    width: calc(100vw - 40px);
    height: 80px;


    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#header .logo {
    color: var(--primary);
    gap: 20px;
}

#header .logo img {
    width: 40px;
    height: 40px;
}

#header .operator-container {
    gap: 5px;
}

#header .operators {

    padding: 5px;
    gap: 5px;

    background-color: var(--secondary);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1), inset 0px 2px 2px 0px rgba(255, 255, 255, 0.1);

}

#header .operator {
    width: fit-content;
    height: fit-content;

    color: var(--primary);
    border: none;

    padding: 5px 12px;
    cursor: pointer;
    box-sizing: border-box;
}


#header .operator.active {
    color: var(--accent);
}

#header .operator:hover {
    color: var(--primary-faded-4);

}


#header .tabs {
    width: fill;

    opacity: 0;

    padding: 10px;
    gap: 5px;

    background-color: var(--secondary);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1), inset 0px 2px 2px 0px rgba(255, 255, 255, 0.1);

}

#header .tabs.active {
    opacity: 1;
}

#header a {
    width: fill;
}

#header .tab {
    width: fill;
    padding: 10px;
    background-color: var(--secondary);
    border: 1px solid var(--secondary-faded-1);
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--primary);
}

#mainboard {
    width: 100vw;
    min-height: 100vh;

    background: var(--background) no-repeat;
    background-color: var(--secondary);
    background-size: cover;
    box-sizing: border-box;

    padding-top: 100px;
}