@media only screen and (max-width: 768px) {
  #skeleton {
    display: none;
  }

  .skeleton-mobile {
    display: block;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  #skeleton {
    display: block;
  }

  .skeleton-mobile {
    display: none;
  }
}

#skeleton {
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  background-color: var(--secondary);
  color: var(--primary);
}

#mainboard {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow-y: scroll;

  background-color: var(--secondary);
  background: var(--background) no-repeat;
  background-size: cover;
}
