#lab-panel-nft {
    width: fit-content;
    height: fit-content;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

    padding: 10px;
    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 20px;
    border-top-left-radius: 0px;
    color: var(--primary);


    backdrop-filter: blur(10px);
}

#lab-panel-nft .editor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}


#lab-panel-nft .editor .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

#lab-panel-nft .editor .form input,
#lab-panel-nft .editor .form textarea {
    width: 300px;
    height: 40px;
    padding: 10px;

    background-color: transparent;
    border: 1px solid var(--secondary-faded-2);
    border-radius: 10px;
    outline: none;

    box-sizing: border-box;

    font-family: "satoshi";
    color: var(--primary);
}

#lab-panel-nft .editor .form textarea {
    height: 140px;
    resize: none;
}

#lab-panel-nft .editor .form textarea::-webkit-scrollbar {
    display: none;
}

#lab-panel-nft .editor .form .royalties {
    width: 300px;
    height: 115px;
    padding: 20px;

    border: 1px solid var(--secondary-faded-2);
    border-radius: 10px;
    box-sizing: border-box;
}

#lab-panel-nft .editor .form .royalties .slider-container {
    width: 200px;
}

#lab-panel-nft .editor .form .royalties .legend {
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;

    box-sizing: border-box;

    color: var(--primary);
}

#lab-panel-nft .editor .attributes-button {
    width: 300px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--secondary-faded-2);
    border: 1px solid var(--secondary-faded-3);
    border-radius: 10px;

    box-sizing: border-box;
    outline: none;

    color: var(--primary-faded-4);

    cursor: pointer;
}



#lab-panel-nft .editor .attributes-button:hover {
    background-color: var(--secondary-faded-3);
    border: 1px solid var(--secondary-faded-4);
    color: var(--primary);
}

#lab-panel-nft .editor .attributes-button:not(:hover) {

    transition-duration: 0.2s;
}

#lab-panel-nft .preview {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

#lab-panel-nft .preview .content {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

#lab-panel-nft .preview .content .image {
    width: 300px;
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--secondary-faded-2);
    border: 1px solid var(--secondary-faded-3);
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;

    color: var(--primary-faded-4);
    cursor: pointer;
}

#lab-panel-nft .preview .content .image img {

    width: 300px;
    height: 300px;
}

#lab-panel-nft .preview .content .image:hover {
    background-color: var(--secondary-faded-3);
    border: 1px solid var(--secondary-faded-4);
    color: var(--primary);
}



#image-input {
    display: none;
}

#lab-panel-nft .preview .submit {
    width: 300px;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--accent);
    border: 1px solid var(--secondary-faded-3);
    border-radius: 10px;
    box-sizing: border-box;
    color: var(--secondary);

    cursor: pointer;
}

#lab-panel-nft .preview .submit:hover {
    background-color: var(--secondary);
    color: var(--accent);
    transition-duration: 0.2s;
}

#lab-panel-nft .preview .submit:not(:hover) {
    transition-duration: 0.2s;
}

#lab-panel-nft .preview .submit:disabled {
    background-color: var(--secondary-faded-2);
    border-color: var(--secondary-faded-3);
    color: var(--primary-faded-4);
    cursor: not-allowed;
}

#attribute-modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-color: var(--primary-foil);
    backdrop-filter: blur(8px);

    z-index: 100;
}

#attribute-modal .close-button {
    width: 40px;
    height: 40px;
    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-2);
    color: var(--primary);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.2s;

}

#attribute-modal .close-button:hover {
    background-color: var(--secondary-faded-2);
    border: 1px solid var(--secondary-faded-3);
}





#attribute-modal .modal {
    position: relative;

    width: fit-content;
    height: fit-content;

    padding: 20px;

    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 20px;
}

#attribute-modal .modal .create-attributes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#attribute-modal .modal .create-attributes form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}

#attribute-modal .modal .create-attributes .input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#attribute-modal .modal .create-attributes input {
    width: 300px;
    height: 20px;

    padding: 10px;
    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 10px;
    outline: none;
    color: var(--primary);
}



#attribute-modal .modal .create-attributes .submit {

    width: 654px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--accent);
    border: 1px solid var(--secondary-faded-1);
    border-radius: 10px;
    outline: none;
    color: var(--white);

    cursor: pointer;
    transition-duration: 0.2s;
}

#attribute-modal .modal .create-attributes .submit:disabled {
    background-color: var(--secondary-faded-3);
    border: 1px solid var(--secondary-faded-2);
    color: var(--secondary);
    cursor: not-allowed;
    transition-duration: 0.2s;

}

#attribute-modal .modal .create-attributes .submit:not(:disabled):hover {
    background-color: var(--accent-faded-1);
}

#attribute-modal .attributes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    max-width: 600px;
    max-height: 400px;

    flex-wrap: wrap;


    overflow: scroll;
}

#attribute-modal .attributes .attribute {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 10px;

    padding: 10px 20px;
    border: 1px solid var(--secondary-faded-3);
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
}

#attribute-modal .attributes .attribute .line {
    width: 1px;
    height: 25px;
    background-color: var(--secondary-faded-3);
}

.type-selector .type-options {
    padding: 10px;

    background-color: var(--secondary-faded-2);
    border: 1px solid var(--secondary-faded-3);
    border-right: none;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
    z-index: 2;

    gap: 5px;
}

.type-selector .type-option {
    width: 200px;
    padding: 10px;
    background-color: var(--secondary-faded-3);
    border: 1px solid var(--secondary-faded-4);
    border-radius: 5px;
    box-sizing: border-box;

    color: var(--primary);
    cursor: pointer;

}

.type-selector .type-option:hover {
    background-color: var(--secondary-faded-4);
}

.type-selector .type-option.active {
    background-color: var(--accent);
    border: 1px solid var(--secondary-faded-3);
    color: var(--secondary);
    font-weight: 1000;
}