#attribute-modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-color: var(--primary-foil);
    backdrop-filter: blur(8px);

    z-index: 100;
}

#attribute-modal .close-button {
    width: 40px;
    height: 40px;
    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-2);
    color: var(--primary);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.2s;

}

#attribute-modal .close-button:hover {
    background-color: var(--secondary-faded-2);
    border: 1px solid var(--secondary-faded-3);
}





#attribute-modal .modal {
    position: relative;

    width: fit-content;
    height: fit-content;

    padding: 20px;

    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 20px;
}

#attribute-modal .modal .create-attributes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#attribute-modal .modal .create-attributes form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}

#attribute-modal .modal .create-attributes .input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#attribute-modal .modal .create-attributes input {
    width: 300px;
    height: 20px;

    padding: 10px;
    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 10px;
    outline: none;
    color: var(--primary);
}



#attribute-modal .modal .create-attributes .submit {

    width: 654px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--accent);
    border: 1px solid var(--secondary-faded-1);
    border-radius: 10px;
    outline: none;
    color: var(--white);

    cursor: pointer;
    transition-duration: 0.2s;
}

#attribute-modal .modal .create-attributes .submit:disabled {
    background-color: var(--secondary-faded-3);
    border: 1px solid var(--secondary-faded-2);
    color: var(--secondary);
    cursor: not-allowed;
    transition-duration: 0.2s;

}

#attribute-modal .modal .create-attributes .submit:not(:disabled):hover {
    background-color: var(--accent-faded-1);
}

#attribute-modal .attributes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    max-width: 600px;
    max-height: 400px;

    flex-wrap: wrap;


    overflow: scroll;
}

#attribute-modal .attributes .attribute {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 10px;

    padding: 10px 20px;
    border: 1px solid var(--secondary-faded-3);
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
}

#attribute-modal .attributes .attribute .line {
    width: 1px;
    height: 25px;
    background-color: var(--secondary-faded-3);
}