.panel.create {
    width: fit-content;
    height: fit-content;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

    padding: 10px;
    background-color: var(--secondary-faded-1);
    border: 1px solid var(--secondary-faded-2);
    border-radius: 20px;
    border-top-left-radius: 0px;
    color: var(--primary);


    backdrop-filter: blur(10px);
}

.panel.create .editor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}


.panel.create .editor .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.panel.create .editor .form input,
.panel.create .editor .form textarea {
    width: 300px;
    height: 40px;
    padding: 10px;

    background-color: transparent;
    border: 1px solid var(--secondary-faded-2);
    border-radius: 10px;
    outline: none;

    box-sizing: border-box;

    font-family: "satoshi";
    color: var(--primary);
}

.panel.create .editor .form textarea {
    height: 140px;
    resize: none;
}

.panel.create .editor .form textarea::-webkit-scrollbar {
    display: none;
}

.panel.create .editor .form .royalties {
    width: 300px;
    height: 115px;
    padding: 20px;

    border: 1px solid var(--secondary-faded-2);
    border-radius: 10px;
    box-sizing: border-box;
}

.panel.create .editor .form .royalties .slider-container {
    width: 200px;
}

.panel.create .editor .form .royalties .legend {
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;

    box-sizing: border-box;

    color: var(--primary);
}

.panel.create .editor .attributes-button {
    width: 300px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--secondary-faded-2);
    border: 1px solid var(--secondary-faded-3);
    border-radius: 10px;

    box-sizing: border-box;
    outline: none;

    color: var(--primary-faded-4);

    cursor: pointer;
}



.panel.create .editor .attributes-button:hover {
    background-color: var(--secondary-faded-3);
    border: 1px solid var(--secondary-faded-4);
    color: var(--primary);
}

.panel.create .editor .attributes-button:not(:hover) {

    transition-duration: 0.2s;
}

.panel.create .preview {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.panel.create .preview .content {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.panel.create .preview .content .image {
    width: 300px;
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--secondary-faded-2);
    border: 1px solid var(--secondary-faded-3);
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;

    color: var(--primary-faded-4);
    cursor: pointer;
}

.panel.create .preview .content .image img {

    width: 300px;
    height: 300px;
}

.panel.create .preview .content .image:hover {
    background-color: var(--secondary-faded-3);
    border: 1px solid var(--secondary-faded-4);
    color: var(--primary);
}



#image-input {
    display: none;
}

.panel.create .preview .submit {
    width: 300px;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--accent);
    border: 1px solid var(--secondary-faded-3);
    border-radius: 10px;
    box-sizing: border-box;
    color: var(--secondary);

    cursor: pointer;
}

.panel.create .preview .submit:hover {
    background-color: var(--secondary);
    color: var(--accent);
    transition-duration: 0.2s;
}

.panel.create .preview .submit:not(:hover) {
    transition-duration: 0.2s;
}

.panel.create .preview .submit:disabled {
    background-color: var(--accent-faded-4);
    border: 2px dashed var(--accent-faded-2);
    color: var(--accent-faded-2);
    cursor: not-allowed;
}



.type-selector .type-options {
    padding: 10px;

    background-color: var(--secondary-faded-2);
    border: 1px solid var(--secondary-faded-3);
    border-right: none;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
    z-index: 2;

    gap: 5px;
}

.type-selector .type-option {
    width: 200px;
    padding: 10px;
    background-color: var(--secondary-faded-3);
    border: 1px solid var(--secondary-faded-4);
    border-radius: 5px;
    box-sizing: border-box;

    color: var(--primary);
    cursor: pointer;

}

.type-selector .type-option:hover {
    background-color: var(--secondary-faded-4);
}

.type-selector .type-option.active {
    background-color: var(--accent);
    border: 1px solid var(--secondary-faded-3);
    color: var(--secondary);
    font-weight: 1000;
}